<table id="mailer">
  <thead>
    <tr>
      <th>Object</th>
      <th>Body</th>
    </tr>
  </thead>

  <% @emails.each do |email| %>

  <tbody>
    <tr>
      <td><%= link_to email.object, "/show/"+email.id.to_s, id: "email-objet", remote: true %></td>
      <!-- L'utilisation de .html dans fichier .js.erb oblige de créer une balise <td> car html va créer une balise temporaire qui remplacera cette dernières -->
      <td id="mailer-content"></td>
    </tr>
  </tbody>

  <% end %>

</table>
