<table id="mailer">
  <thead>
    <tr>
      <th class= "th-object">Object</th>
      <th class="th-body">Body</th>
    </tr>
  </thead>

  <% @emails.each do |email| %>

  <tbody>
    <tr>
      <td class="email-object"><%= link_to email.object, "/mail/"+email.id.to_s, id: "email-objet", remote: true %></td>
      <!-- L'utilisation de .html dans fichier .js.erb oblige de créer une balise <td> car html va créer une balise temporaire qui remplacera cette dernières -->
      <td class="email-body" id="mailer-content"></td>
      <td>
        <%= link_to 'Delete', "/mail/"+email.id.to_s, remote: true, method: :delete, data: { confirm: 'Are you sure ?' } %>
      </td>
    </tr>
  </tbody>

  <% end %>

</table>
